/* Tabela de conteúdos
------------------------------------------------
- Estilos base
- Grid
- Tipografia
- Links
- Botões
- Formulários
- Listas
- Código
- Tabelas
- Espaçamento
- Utilidades
*/

/* Estilos base
------------------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
	font-size: 62.50%;
}

body {
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 400;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* Grid
------------------------------------------------ */

.container {
	width: 100%;
	max-width: 990px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	box-sizing: border-box;
}

.linha {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}

.coluna,
.colunas {
	width: 100%;
	box-sizing: border-box;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media screen and (min-width: 400px) {
	.container {
		width: 85%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 750px) {
	.container {
		width: 80%;
	}

	.uma.coluna,
	.uma.colunas {
		flex: 0 0 8.33333333%;
		max-width: 8.33333333%;
	}

	.duas.colunas {
		flex: 0 0 16.66666667%;
		max-width: 16.66666667%;
	}

	.tres.colunas {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.quatro.colunas {
		flex: 0 0 33.33333333%;
		max-width: 33.33333333%;
	}

	.cinco.colunas {
		flex: 0 0 41.66666667%;
		max-width: 41.66666667%;
	}

	.seis.colunas {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.sete.colunas {
		flex: 0 0 58.33333333%;
		max-width: 58.33333333%;
	}

	.oito.colunas {
		flex: 0 0 66.66666667%;
		max-width: 66.66666667%;
	}

	.nove.colunas {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.dez.colunas {
		flex: 0 0 83.33333333%;
		max-width: 83.33333333%;
	}

	.onze.colunas {
		flex: 0 0 91.66666667%;
		max-width: 91.66666667%;
	}

	.doze.colunas {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* Tipografia
------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: #333;
	font-weight: 600;
}

h1{
	font-size: 4rem;
}

h2{
	font-size: 3.4rem;
}

h3{
	font-size: 2.8rem;
}

h4{
	font-size: 2.2rem;
}

h5{
	font-size: 1.6rem;
}

h6{
	font-size: 1.4rem;
}

p {
	margin-top: 0;
}

/* Links
------------------------------------------------ */

a {
	color: #337ab7;
}

a:hover,
a:focus {
	color: #23527c;
}

a:visited {
	color: #c34f4a
}

/* Botões
------------------------------------------------ */


/* Formulários
------------------------------------------------ */


/* Listas
------------------------------------------------ */


/* Código
------------------------------------------------ */


/* Tabelas
------------------------------------------------ */


/* Espaçamento
------------------------------------------------ */


/* Utilidades
------------------------------------------------ */
